@font-face {
  font-family: "Proxima Nova Light";
  src: url("../css/ProximaNova/ProximaNova-Light.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../css/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../css/ProximaNova/ProximaNova-Bold.otf") format("opentype");
}