@font-face {
  font-family: "Proxima Nova Light";
  src: url("../css/ProximaNova/ProximaNova-Light.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../css/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../css/ProximaNova/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT Regular";
  src: url("../css/FuturaPT/FuturaPT-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Futura PT Bold";
  src: url("../css/FuturaPT/FuturaPT-Heavy.ttf") format("truetype");
}