@media (max-width: 800px){
  header {
    height: 350px;
  }

  section.blue p {
    color: #fff;
    text-align: left;
  }

  section .arrow {
    width: 100%;
    top: 0;
    position: absolute;
  }

  section.contacts p {
    width: 100%;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }
}
@media (max-width: 600px){
  p {
    font-size: 1rem;
  }
}