@media (max-width: 800px){
  header {
    height: 350px;
  }

  section.blue p {
    color: #fff;
    text-align: left;
  }

  section .arrow {
    width: 100%;
    top: 0;
    position: absolute;
  }

  section.contacts p {
    width: 100%;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }
}
@media (max-width: 600px){
  p {
    font-size: 1rem;
  }

  section.contacts .connect a{
    font-size: 1rem;
  }

  blockquote {
    font-size: 1.3rem;
  }

  section.white.why_ruby blockquote > div.sign {
    font-style: 1rem !important;
  }

  section.why_ruby p.explanation {
    margin-left: 20px;
  }
}