@media (max-width: 800px){
  header {
    height: 350px;
  }

  section.blue p {
    text-align: left;
  }

  section.top img {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #777;
    display: none;
  }

  section .arrow {
    width: 100%;
    top: 0;
    position: absolute;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h5 {
    margin: 10px 0;
  }

  section.contacts p {
    width: 100%;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }

  section {
    position: relative;
    width: 100%;
    padding: 0 0 10px ;
  }

  section.projects .project {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  /* images */

  section.projects .project .description {
    vertical-align: top;
    width: 100%;
    display: inline-block;
  }
  section.projects .project .images     {
    vertical-align: top;
    text-align: center; 
    width: 100%;
    display: inline-block;
    display: none;
  }
  section.projects .project .images img {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px){
  p {
    font-size: 1rem;
  }

  section.contacts .connect a{
    font-size: 1rem;
  }

  blockquote {
    font-size: 1.3rem;
  }

  section.white.why_ruby blockquote > div.sign {
    font-style: 1rem !important;
  }

  section.why_ruby p.explanation {
    margin-left: 20px;
  }
}