section.projects .project {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ddd;
  font-family: 'Noto Serif', serif;
  padding-bottom: 30px;
}

/* links */

section.projects .project .links {
  text-align: center;
}
section.projects .project .links a {
  text-decoration: none;
  color: #333;
}
section.projects .project .links img {
  vertical-align: middle;
}
section.projects .project .links a.github  img { width: 30px; }
section.projects .project .links a.website img { width: 25px; }
section.projects .project .links div {
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}

/* images */

section.projects .project .images     { text-align: center; }
section.projects .project .images img { max-width: 33%; margin: 0 auto; max-height: 100px;}

/* media */

section.projects .media a {
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #333;
}

/* code examples */

section .codes {
  text-align: center;
}

section .codes a {
  margin-right: 1rem;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  color: #345d7b;
  font-size: 1.5rem;
  vertical-align: middle;
}

section .codes a .lang {
  max-width: 15px;
  max-height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}