section.projects .project {
  display: inline-block;
  vertical-align: top;
  /* margin-bottom: 15px; */
  /*border-bottom: 1px dashed #ddd;*/
  font-family: 'Noto Serif', serif;
  /*padding-bottom: 30px;*/
}
section.projects .project:last-child {
  border-bottom: 0;
}

section.projects .project h5 {
  font-family: 'Proxima Nova Bold', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

/* links */

section.projects .project .links {
  text-align: center;
}
section.projects .project .links a {
  text-decoration: none;
  color: #1d2d35;
  font-family: 'Futura PT Regular';

}
section.projects .project .links img {
  vertical-align: middle;
}
section.projects .project .links a.github  img { width: 30px; }
section.projects .project .links a.website img { width: 25px; }
section.projects .project .links div {
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}

/* images */

section.projects .project .description {
  vertical-align: top;
  /*width: 49%;*/
  width: 100%;
  color: #1d2d35;
  display: inline-block;
}
section.projects .project .images     {
  vertical-align: top;
  text-align: center; 
  width: 49%;
  display: inline-block;
  display:  none;
}
section.projects .project .images img {
  width: 100%;
  margin: 0 auto;
}


section.projects .project {
  ul {
    padding-left: 15px;
  }
}


/* media */

section.projects p a {
  /* font-family: 'Proxima Nova Light', serif; */
  /* font-family: 'Futura PT Regular'; */
  /* font-weight: 300; */
  text-decoration: none;
  color: #4593c0;

/* code examples */

section .codes {
  text-align: center;
}

section .codes a {
  margin-right: 1rem;
  /* font-family: 'Proxima Nova Light', serif; */
  /* font-weight: 300; */
  /* color: #345d7b; */
  /* font-size: 1.5rem; */
  vertical-align: middle;
}

section .codes a .lang {
  max-width: 15px;
  max-height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}