section {
  position: relative;
  width: 100%;
  padding: 0 0 50px ;
}

section.white {
  background: #fff;
  color: #1d2d35;
}
section.white p {
  color: #1d2d35;  
}

section.blue {
  /*background: #EDEDF1;*/

  background: #4899E4;
  background: -webkit-linear-gradient(bottom right, #4899E4, #FF5C5A);
  background: -moz-linear-gradient(bottom right, #4899E4, #FF5C5A);
  background: linear-gradient(bottom right, #4899E4, #FF5C5A);

  background: #4899E4;
  background: -webkit-linear-gradient(bottom right, #4899E4, #FFFFFF);
  background: -moz-linear-gradient(bottom right, #4899E4, #FFFFFF);
  background: linear-gradient(bottom right, #4899E4, #FFFFFF);

  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 95%);
  padding: 30px 0;


}

section.pink {
  background: #F27EEE;
  background: -webkit-linear-gradient(bottom right, #F27EEE, #FFFFFF);
  background: -moz-linear-gradient(bottom right, #F27EEE, #FFFFFF);
  background: linear-gradient(bottom right, #F27EEE, #FFFFFF);
}
section.blue.last {
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

section.blue p {
  color: #333;  
}

section .content {
  color: #333;
  width: 80%;
}

section.top .left-side {
  display: inline-block;
  vertical-align: top;
}
section.top .left-side p.first {
  margin: 0;
}
section.top p.center {
  text-align: center;
}
section.top .right-side {
  vertical-align: top;
  display: inline-block;
}
section.top img {
  width: 50%;
  margin: 10px auto;
  border: 1px solid #777;
}

h1 {
  font-weight: 700;
  clear: both;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
  font-size: 2rem;
  color: #1d2d35;
  font-family: 'Proxima Nova Bold', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-family: 'Futura PT Bold';
}

h5 {
  font-family: 'Proxima Nova Regular', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  text-align: left;
  color: #1d2d35;
  font-size: 1.3rem;
  font-family: 'Futura PT Bold';
}

p {
  font-family: 'Proxima Nova Light', serif;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-family: 'Futura PT Regular';
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 24px;
  color: #1d2d35;
  /*font-weight: 300;*/
  /*font-size: 1.3rem;*/
  text-align: justify;
}

strong {
  font-family: 'Proxima Nova Regular', serif;
  font-family: 'Proxima Nova Bold', serif;
}

blockquote {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  font-family: 'Proxima Nova Light', serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: justify;
        -webkit-font-smoothing: antialiased;
  font-style: italic;
  color: #666;
  color: #345d7b;
}

blockquote > div {
  width: 100%;
  font-family: 'Proxima Nova Light', serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 30px;
  color: #333;
}

blockquote .sign {
  font-style: normal;
}

.devider {
  font-family: 'Proxima Nova Light', serif;
  font-weight: 300;
  text-align: center;
  color: #345d7b;
  font-size: 2rem;
  vertical-align: middle;
}

.arrow {
  width: 100%;
}

section.contacts {
  background: url("../images/notebook.jpg");
  background-size: cover;
  min-height: 500px;
}

section.contacts h1 {
  color: #fff;
}
section.contacts p {
  width: 60%;
  margin: 0 0 15px 0;
  color: #fff;
}

section.contacts img.odesk {
  height: 10px;
}
section.contacts a {
  color: #fff;
  text-decoration: none;
  font-family: 'Proxima Nova Light', serif;
  font-family: 'Futura PT Regular';
  font-weight: 300;
  font-size: 1.3rem;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px dashed #fff;
}

section.contacts .connect {
  margin: 30px 0;
}

section.contacts .connect p {
  margin-bottom: 12px;
  vertical-align: middle;
}
section.contacts .connect p img {
  vertical-align: middle;
  margin-right: 10px;
  height: 30px;
}

div.technologies {
  text-align: center;
}
div.technologies img.technology {
  max-height: 50px;
}
