section {
  position: relative;
  width: 100%;
  padding: 0 0 50px ;
}

section.white {
  background: #fff;
}
section.white p {
  color: #333;  
}

section.blue {
  background: #4593c0;
}
section.blue p {
  color: #fff;  
}

section .content {
  color: #333;
}

h1 {
  font-weight: 700;
  clear: both;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  font-size: 2rem;
  color: #345d7b;
}

h5 {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: #345d7b;
  font-size: 1rem;
}

p {
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: justify;
        -webkit-font-smoothing: antialiased;
}

.devider {
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  text-align: center;
  color: #345d7b;
  font-size: 2rem;
  vertical-align: middle;
}

.arrow {
  width: 100%;
}